/*Contact CSS*/
body
{
	 //background-image: linear-gradient(black,gold);
	//background-color:black;
}
.content
{
  margin-top: 100px;
  margin-bottom: 20px;
  color: black;
  font-family: century gothic;
}

.details
{
  line-height: 8px;
}

.Team
{
  line-height: 8px;
  display: flex;
}

.section
{
	flex:50%;
}

p
{
  font-size: 17px;
}
/*-----------------------------------------*/